
<%=form_for @question do |f|%>
<%=f.hidden_field :quiz_id %>
<p><%=f.label :question_title %><br><%=f.text_field :question_title, class: 'form-control', placeholder: 'Enter your question title'%></p>
<p><%=f.label :question_text %><br><%=f.text_field :question_text, class: 'form-control', placeholder: 'Enter your question'%></p>
<%=f.submit 'Save', class: 'btn btn-green btn-block btn-flat'%>
<%end%>


<br>





<div class="panel-group" id="question<%=@question.id%>Accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">

    <% @question.answers.each do |answer| %>
    <div class="panel-heading" role="tab" id="question<%=@question.id%>Heading<%=answer.id%>">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#question<%=@question.id%>Accordion" href="#question<%=@question.id%>Collapse<%=answer.id%>" aria-expanded="false" aria-controls="question<%=@question.id%>Collapse<%=answer.id%>">
          <%=answer.answer_text%>
        </a>
      </h4>
    </div>
    <div id="question<%=@question.id%>Collapse<%=answer.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question<%=@question.id%>Heading<%=answer.id%>">
      <div class="panel-body">
      <% @answer = answer %>
      <%= render "answers/form" %>
      </div>
    </div>
    <%end%>

    <div class="panel-heading" role="tab" id="question<%=@question.id%>HeadingNew">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#question<%=@question.id%>Accordion" href="#question<%=@question.id%>CollapseNew" aria-expanded="false" aria-controls="question<%=@question.id%>CollapseNew">
          New Answer
        </a>
      </h4>
    </div>
    <div id="question<%=@question.id%>CollapseNew" class="panel-collapse collapse" role="tabpanel" aria-labelledby="question<%=@question.id%>HeadingNew">
      <div class="panel-body">
      <% @answer = Answer.new(question_id: @question.id, points: 0) %>
      <%= render "answers/form" %>
      </div>
    </div>

  </div>
</div>











