
<%=form_for @question do |f|%>
<%=f.hidden_field :quiz_id %>
<p><%=f.label :question_title %><br><%=f.text_field :question_title, class: 'form-control', placeholder: 'Enter your question title'%></p>
<p><%=f.label :question_text %><br><%=f.text_field :question_text, class: 'form-control', placeholder: 'Enter your question'%></p>
<%=f.submit 'Save', class: 'btn btn-green btn-block btn-flat'%>
<%end%>


<br>

<%@question.answers.each do |answer| %>
  <% @answer = answer %>
  <%= render 'answers/form' %>
<%end%>

<br>

<% if @question.id %>
<% @answer = Answer.new(question_id: @question.id) %>
<%= render 'answers/form' %>
<%end%>


