<br>
<br>
<br>

<h1><%=@question.question_text%></h1>
<br>
<h2><%=@question.question_text%></h2>

<br>

<% result = Result.new %>
<% result.participant = @quiz.participant(@current_user) %>
<% result.question = @question %>

<%=form_for result do |f|%>
<p><%=f.collection_select :answer_id , @question.answers, :id, :answer_text%></p>
<%=f.hidden_field :participant_id%>
<%=f.hidden_field :question_id%>
<%=f.submit 'Next', class: 'btn btn-green btn-block btn-flat'%>

<%end%>



<br>
<br>
<br>
