<h1>Quiz - Student Page</h1>

<h2><%=@quiz.title%></h2>




<% question = @quiz.next_question(@user) %>
<% if question %>
<%= question.question_text %>


<br>
<br>
<br>

<% result = Result.new %>
<% result.participant = @participant %>
<% result.question = question %>

<%=form_for result do |f|%>
<%=f.collection_select :answer_id , question.answers, :id, :answer_text%>
<%=f.hidden_field :participant_id%>
<%=f.hidden_field :question_id%>
<%=f.submit "Next"%>

<%end%>

<%end%>







