<br>
<br>
<br>

<h1><%=@quiz.title%> - Teacher Page</h1>

<br>

<%flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>




<% @quiz.questions.each do |question| %>
      <% @question = question %>
      <%= render "questions/form" %>
<br>
<br>
<br>
<%end%>



<br>
<br>
<br>


<% @question = Question.new(quiz_id: @quiz.id) %>
<%= render "questions/form" %>






<!--

<div id="accordion">
<% @quiz.questions.each do |question| %>
  <div class="card">
    <div class="card-header" id="#headingQuestion<%=question.id%>">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseQuestion<%=question.id%>" aria-expanded="true" aria-controls="collapseQuestion<%=question.id%>">
          <%= question.question_title %>
        </button>
      </h5>
    </div>

    <div id="collapseQuestion<%=question.id%>" class="collapse show" aria-labelledby="#collapseQuestion<%=question.id%>" data-parent="#accordion">
      <div class="card-body">
      <% @question = question %>
      <%= render "questions/form" %>
      </div>
    </div>
  </div>
<%end%>
</div>

-->













<br>
<br>
<br>
<br>
<br>
<br>
<br>


<% @participants.each do |participant|%>
<p><%= participant.user.nick_name %></p>

<%end%>









