<h1>Sign In User</h1>


<%= form_with  url:'/login' do |f| %>
  <%= f.label :nick_name %>
  <%= f.text_field :nick_name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Login" %>
<% end %>