
<%=form_for @answer do |f| %>
<%=f.hidden_field :question_id %>
<p><%=f.label :answer_text %><br><%=f.text_field  :answer_text, class: 'form-control', placeholder: 'Enter your answer'%></p>
<p><%=f.label :points%><br><%=f.text_field :points, class: 'form-control', placeholder: 'Enter the answer points' %></p>
<p><%=f.label :correct%><br><%=f.check_box :correct%></p>
<%=f.submit 'Save', class: 'btn btn-green btn-block btn-flat'%>
<%end%>
